{% extends 'base.html' %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}
<h1>Adicionar Componente Funcional</h1>
<p><em>Nota: Escolha o tipo de componente (EE, SE, CE, ALI, AIE) e sua complexidade (Baixa, Média, Alta) com base nas
        funcionalidades do sistema. A quantidade deve refletir o número de ocorrências.</em></p>
<form method="post">
    {% csrf_token %}
  {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a href="{% url 'project_detail' project_id %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
